<%- include("partials/header")%>

<div class="course-list">
    <h3>Registered Students</h3>

    <table border="0" class="tab">
        <tr>
            <th>Student-ID</th> <th>Full Name</th> <th>Phone</th> <th>Email</th> <th>DOB</th>

        </tr>
             <% results.forEach(function(result){ %>
        <tr>
            <td> <%= result.student_id %></td> 
            <td> <%= result.firstname + ' ' + result.lastname %></td> 
            <td> <%= result.phone %></td> 
            <td> <%= result.email %></td> 
            <td> <%= result.dob %></td> 


        </tr>
            <% }) %>
    
      
</table>

    

</div>


<%- include('partials/footer')%>